body {
  padding: 0;
  margin: 0;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.map-wrap {
  position: relative;
  width: 100%;
  height: calc(100dvh - 100px); /* calculate height of the screen minus the heading */
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}
